// ********** COLORS ********************

$color-primary:#55c57a;
$color-grey-light-1: #f7f7f7;
$color-primary-dark: #5e28b4;
$color-primary-light: #7fe2f3;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-quaternary-light: #e6f39d;
$color-quaternary-dark: #e0ff30;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// ********** GRID VARIABLES **************

// max-width
$grid-width: 114rem;
// margin-bottom
$gutter-vertical: 8rem;
// space between columns
$gutter-horizontal: 6rem;

// ************** FONT SIZES ****************
$default-font-size: 1.6rem;