body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    padding:3rem;
}


.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    text-align: center;
    backface-visibility: hidden;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 1.3rem;
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-in;
    }
    &--sub {
        display: block;
        font-size: 4.4rem;
        font-weight: 100;
        letter-spacing: 15.4px;
        animation-name: moveInRight;
        animation-duration: 2s;
        animation-timing-function: ease-in;
        margin-bottom: 6rem;
    }
}
